body {
    background-color: white;
}

.image-container {
    height: 100%;
    width: 100%;
}

.image-center {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

h3 {
	color: black;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}